{% extends 'nav.html' %}

{% block body %}
<br>
<h2 align="center">Registered Users</h2>
<br>
<br>
<div class="container">
	<table class="table table-bordered table-hover table-stripped">
		<thead>
			<tr class="bg-primary text-white">
				<th>S.no</th>
				<th>First_Name</th>
				<th>Last_Name</th>
				<th>User_Name</th>
				<th>Email_id</th>
				<th colspan="3">Operations</th>
			</tr>
		</thead>
		<tbody>
			{% for i in data %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{i.first_name}}</td>
				<td>{{i.last_name}}</td>
				<td>{{i.username}}</td>
				<td>{{i.email}}</td>
				<td>
					<a href="{% url 'edituser' i.id %}" class="btn btn-outline-success btn-lg" title="Edit">&#x270f;</a>
				</td>
				<td>
					<a href="{% url 'deleteuser' i.id %}" class="btn btn-outline-danger btn-lg" title="Delete">
						🗑️
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}