<!DOCTYPE html>
<html>
<head>
	<title>About::page</title>
</head>
<body>
	<h1>This is for employee related app</h1>
	<p>
		Employment is a relationship between two parties, usually based on contract where work is paid for, where one party, which may be a corporation, for profit, not-for-profit organization, co-operative or other entity is the employer and the other is the employee.employee. An individual who works part-time or full-time under a contract of employment, whether oral or written, express or implied, and has recognized rights and duties. Also called worker. USAGE EXAMPLES.
	</p>

</body>
</html>